{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "extends": [
    "eslint-config-airbnb"
  ],
  "globals": {
    "chai": true
  },
  "rules": {
    "class-methods-use-this": 1,
    "comma-dangle": 1,
    "func-names": 1,
    "global-require": 1,
    "import/newline-after-import": 1,
    "import/no-extraneous-dependencies": 1,
    "import/no-unresolved": 1,
    "import/prefer-default-export": 1,
    "key-spacing": 1,
    "new-cap": 1,
    "no-bitwise": 1,
    "no-cond-assign": 1,
    "no-fallthrough": 1,
    "no-param-reassign": 1,
    "no-plusplus": 1,
    "no-restricted-syntax": 1,
    "no-underscore-dangle": 1,
    "object-curly-spacing": 1,
    "prefer-rest-params": 1,
    "prefer-spread": 1,
    "strict": 1,
    "max-len": [
      2,
      120,
      4,
      {
        "ignoreUrls": true
      }
    ],
    "id-length": [
      2,
      {
        "min": 1
      }
    ]
  }
}
