<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>markdown editor</title>
    <link rel="stylesheet" href="{%= options.serverRoot %}/lib/leungwensen/pastry/build/pastry.css">
    <link rel="stylesheet" href="{%= options.serverRoot %}/lib/leungwensen/pastry/build/ui.css">
    <link rel="stylesheet" href="{%= options.serverRoot %}/lib/leungwensen/pastry/build/font/css/font-awesome.css">
    <link rel="stylesheet" href="{%= options.serverRoot %}/lib/leungwensen/pastry/build/theme/default.css">
    <link rel="stylesheet" href="{%= options.serverRoot %}/lib/sindresorhus/github-markdown-css/github-markdown.css">
    <link rel="stylesheet" href="{%= options.serverRoot %}/client/stylesheet/base.css">
    <link rel="stylesheet" href="{%= options.serverRoot %}/client/stylesheet/app-markdownEditor.css">
    <link rel="stylesheet" href="{%= options.serverRoot %}/lib/codemirror/CodeMirror/lib/codemirror.css">
    <link rel="stylesheet" href="{%= options.serverRoot %}/lib/codemirror/CodeMirror/theme/solarized.css">
</head>
<body>
    <div class="app" id="app">
        <section class="main">
            <section class="editor" id="editor">
                <div class="toolbar">
                    <div class="menu menu-horizontal">
                        <ul class="menu-list">
                            <li class="menu-item"><span id="btn-new" class="menu-link fa fa-plus"></span></li>
                            <li class="menu-item"><span id="btn-open" class="menu-link fa fa-file-text"></span></li>
                            <li class="menu-item"><span id="btn-save" class="menu-link fa fa-save"></span></li>
                            <li class="menu-item"><span id="btn-undo" class="menu-link fa fa-undo"></span></li>
                            <li class="menu-item"><span id="btn-redo" class="menu-link fa fa-repeat"></span></li>
                            <li class="menu-item">
                                <div class="key-map">
                                    <span>Keymap: </span>
                                    <select id="switch-keymap" name="keymap">
                                        <option value="default">Default</option>
                                        <option value="vim">Vim</option>
                                        <option value="emacs">Emacs</option>
                                        <option value="sublime">Sublime Text</option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <article class="previewer markdown-body" id="previewer">
            </article>
        </section>
    </div>
    <script>
        var GLOBAL_CONST = JSON.parse('{%= jsonStr %}');
    </script>
    <script src="{%= options.serverRoot %}/lib/moment/moment/min/moment.min.js"></script>
    <script src="{%= options.serverRoot %}/lib/avoidwork/filesize.js/lib/filesize.min.js"></script>
    <script src="{%= options.serverRoot %}/lib/chjj/marked/lib/marked.js"></script>
    <script src="{%= options.serverRoot %}/lib/codemirror/CodeMirror/lib/codemirror.js"></script>
    <script src="{%= options.serverRoot %}/lib/codemirror/CodeMirror/mode/markdown/markdown.js"></script>
    <script src="{%= options.serverRoot %}/lib/codemirror/CodeMirror/addon/edit/matchbrackets.js"></script>
    <script src="{%= options.serverRoot %}/lib/codemirror/CodeMirror/keymap/vim.js"></script>
    <script src="{%= options.serverRoot %}/lib/codemirror/CodeMirror/keymap/emacs.js"></script>
    <script src="{%= options.serverRoot %}/lib/codemirror/CodeMirror/keymap/sublime.js"></script>
    <script src="{%= options.serverRoot %}/lib/leungwensen/pastry/src/amd-loader.js"></script>
    <script src="{%= options.serverRoot %}/client/markdownEditor/main.js"></script>
</body>
</html>
