<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%= data.path %}</title>
    <link rel="stylesheet" href="{%= data.serverRoot %}/lib/leungwensen/pastry/build/pastry.css">
    <link rel="stylesheet" href="{%= data.serverRoot %}/lib/leungwensen/pastry/build/ui.css">
    <link rel="stylesheet" href="{%= data.serverRoot %}/lib/leungwensen/pastry/build/font/css/font-awesome.css">
    <link rel="stylesheet" href="{%= data.serverRoot %}/lib/leungwensen/pastry/build/theme/default.css">
    <link rel="stylesheet" href="{%= data.serverRoot %}/client/stylesheet/base.css">
    <link rel="stylesheet" href="{%= data.serverRoot %}/client/stylesheet/directory.css">
</head>
<body>
    <div class="directory-container">
        <header class="directory-header">
            <span class="title text-limit-len" title="{%= data.path %}">
                {%= data.path %}
            </span>
            <span class="hint--left float-right" data-hint="Ctrl+F">
                <span class="fa fa-search" id="file-search"></span>
            </span>
        </header>
        <section id="ls">
        </section>
        <section id="search-dialog">
            <header class="header">
                <span class="title">Search</span>
                <span class="float-right fa fa-close close"></span>
            </header>
            <div class="body">
                <input id="search-query" type="text" placeholder="press 'Enter' to search, at least 1 character.">
                <span class="fa fa-search" id="submit-search"></span>
                <div class="flex-container" id="search-result">
                    <div class="flex-col-left">
                        <header class="align-center">
                            In Path Names
                        </header>
                        <section class="body">
                            <div class="result" id="search-glob-result">
                            </div>
                        </section>
                    </div>
                    <div class="flex-col-right">
                        <header class="align-center">
                            In File Contents
                        </header>
                        <section class="body">
                            <div class="result" id="search-content-result">
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        var GLOBAL_CONST = JSON.parse('{%= jsonStr %}');
    </script>
    <script src="{%= data.serverRoot %}/lib/moment/moment/min/moment.min.js"></script>
    <script src="{%= data.serverRoot %}/lib/avoidwork/filesize.js/lib/filesize.min.js"></script>
    <script src="{%= data.serverRoot %}/lib/leungwensen/pastry/src/amd-loader.js"></script>
    <script src="{%= data.serverRoot %}/client/directory/main.js"></script>
</body>
</html>
