<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%= options.path %}</title>
    <link rel="stylesheet" href="{%= options.serverRoot %}/lib/leungwensen/pastry/build/pastry.css">
    <link rel="stylesheet" href="{%= options.serverRoot %}/lib/leungwensen/pastry/build/ui.css">
    <link rel="stylesheet" href="{%= options.serverRoot %}/lib/leungwensen/pastry/build/font/css/font-awesome.css">
    <link rel="stylesheet" href="{%= options.serverRoot %}/lib/leungwensen/pastry/build/theme/default.css">
    <link rel="stylesheet" href="{%= options.serverRoot %}/client/stylesheet/base.css">
    <link rel="stylesheet" href="{%= options.serverRoot %}/client/stylesheet/directory.css">
</head>
<body>
    <div id="app">
        <header id="header">
            <div class="menu menu-horizontal">
                <a class="menu-heading" href="https://github.com/leungwensen/zfinder" target="_blank">Zfinder</a>
                <ul class="menu-list float-right">
                    <li class="menu-item">
                        <span class="hint--left" data-hint="Search Files (Ctrl+F)">
                            <input id="search-query" type="text">
                            <span class="menu-link fa fa-search" id="submit-search"></span>
                        </span>
                    </li>
                </ul>
            </div>
        </header>
        <div id="container">
            <nav id="nav">
                <div class="menu">
                    <ul class="menu-list">
                        <li class="menu-item active" data-target="#ls">
                            <span class="hint--right" data-hint="Files">
                                <span class="fa fa-folder" id="nav-files"></span>
                            </span>
                        </li>
                        <li class="menu-item" data-target="#file-search" style="display: none;">
                            <span class="hint--right" data-hint="File Search(Ctrl+F)">
                                <span class="fa fa-search" id="nav-file-search"></span>
                            </span>
                        </li>
                        <li class="menu-item" data-target="#applications">
                            <span class="hint--right" data-hint="Applications">
                                <span class="fa fa-th-large" id="nav-applications"></span>
                            </span>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="main">
                <section id="ls">
                </section>
                <section id="file-search" style="display: none;">
                    <div class="flex-container" id="search-result">
                        <div class="flex-col-left">
                            <header class="align-center">
                                In Path Names
                            </header>
                            <section class="body">
                                <div class="result" id="search-glob-result"></div>
                            </section>
                        </div>
                        <div class="flex-col-right">
                            <header class="align-center">
                                In File Contents
                            </header>
                            <section class="body">
                                <div class="result" id="search-content-result"></div>
                            </section>
                        </div>
                    </div>
                </section>
                <section id="applications" style="display: none;">
                    <div class="menu">
                        <ul class="menu-list">
                            <li class="menu-item">
                                <a target="_blank" class="menu-link" href="/__ZFINDER_APP_ROOT__/markdownEditor">markdown editor</a>
                            </li>
                            <li class="menu-item">
                                <a target="_blank" class="menu-link" href="/__ZFINDER_APP_ROOT__/mindEditor">mind editor</a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script>
        var GLOBAL_CONST = JSON.parse('{%= CONST_JSON %}');
    </script>
    <script src="{%= options.serverRoot %}/lib/moment/moment/min/moment.min.js"></script>
    <script src="{%= options.serverRoot %}/lib/avoidwork/filesize.js/lib/filesize.min.js"></script>
    <script src="{%= options.serverRoot %}/lib/leungwensen/pastry/src/amd-loader.js"></script>
    <script src="{%= options.serverRoot %}/client/directory/main.js"></script>
</body>
</html>
