<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%= filename %}</title>
    <link rel="stylesheet" href="{%= options.serverRoot %}/lib/leungwensen/pastry/build/font/css/font-awesome.css"> <!-- with fonts -->
    <link rel="stylesheet" href="{%= options.serverRoot %}/lib/Khan/KaTeX/katex.min.css"> <!-- with fonts -->
    <link rel="stylesheet" href="{%= options.serverRoot %}/client/stylesheet/file-markdown.css">
</head>
<body>
    <nav class="markdown-menu">
        <div class="menu menu-horizontal">
            <span class="menu-heading title text-limit-len" title="{%= filename %}">
                {%= filename %}
            </span>
            <ul class="menu-list float-right">
                <li class="menu-item">
                    <a class="hint--left hint--reverse" href="{%= options.appRoot %}/markdownEditor?file={%= filename %}" data-hint="Edit">
                        <span class="menu-link fa fa-pencil-square-o " title="edit"></span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="hint--left hint--reverse" href="/" data-hint="Back to Home">
                        <span class="menu-link fa fa-home " title="Back to Home"></span>
                    </a>
                </li>
                <li class="menu-item">
                    <span class="hint--left hint--reverse" data-hint="Tips">
                        <a id="btn-tips" class="menu-link fa fa-info-circle" title="Tips" href="{%= options.serverRoot + '/doc/markdown-previewer.markdown' %}" target="_blank"></a>
                    </span>
                </li>
            </ul>
        </div>
    </nav>
    <aside id="toc" class="toc">
        <div id="hide-or-show-toc" title="Table Of Content">
            <span class="fa fa-angle-right"></span>
        </div>
        <header style="display: none;">Table Of Content</header>
        <div class="tree-holder" style="display: none;">
        </div>
    </aside>
    <div class="markdown-container">
        <article class="markdown-body" id="markdown-previewer">
        </article>
    </div>
    <script>
        var GLOBAL_CONST = JSON.parse('{%= CONST_JSON %}');
    </script>
    <script id="markdown-content" type="text/template">
        {%= content %}
    </script>
    <script src="{%= options.serverRoot %}/client/markdownPreviewer/libs.min.js"></script>
    <script src="{%= options.serverRoot %}/lib/leungwensen/pastry/dist/0.3.20150825/pastry.ui.min.js"></script>
    <script src="{%= options.serverRoot %}/client/markdownPreviewer/main.min.js"></script>
</body>
</html>
