<div data-id="{%= id %}" class="topic {%= styleId %} {%= classname %}">
    <div class="body">
        {% helper.each(markers, function(marker) { %}
            <span class="marker {%= marker %}"></span>
        {% }); %}
        <span class="topic-label">{%= title %}</span>
        {% if (hyperlink) { %}
            <span class="hyperlink fa fa-link {%= hyperlinkType %}" data-link="{%= hyperlink %}" title="{%= hyperlink %}"></span>
        {% } %}
        {% if (notes) { %}
            <span class="notes fa fa-sticky-note" title="{%= notes %}"></span>
        {% } %}
    </div>
    {% if (labels.length) { %}
        <div class="labels">
            <span class="label">{%= labels.join(', ') %}</span>
        </div>
    {% } %}
</div>
