{% helper.each(files, function(file) { %}
    <div class="search-result">
        <header>
            <span class="{%= file.iconClass %}"></span>
            <a href="{%= file.relativePathname %}" target="_blank">
                {%= file.relativePathname %}
            </a>
        </header>
        {% if (file.matchedLines) { %}
            <section class="body">
                {% helper.each(file.matchedLines, function(line) { %}
                    <div class="line">
                        <span class="line-number">{%= line[0] %}</span>
                        <span class="line-content">{%= line[1] %}</span>
                    </div>
                {% }); %}
            </section>
        {% } %}
    </div>
{% }); %}
