@import './variables.less';
@import './mixin.less';

.text-limit-len {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
}

.float-right {
    float: right;
}

.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}

.form input[type=text].error,
.form input[type=text].error:focus {
    border-color: #a94442;
}

.non-select {
    .user-select(none);
}

.menu-link, .menu-disabled, .menu-heading {
    text-transform: none;
}

@import './hint.less';
@import './flex.less';
@import './loadingSpinner.less';
@import './modal.less';
@import './button.less';
@import './resizer.less';
@import './tree.less';

