@import './variables.less';
@import './mixin.less';

html, body, .app {
    width: 100%;
    height: 100%;
    margin: 0;
}

/* layout */
#container {
    .display(flex);
    height: 100%;
}
#nav {
    width: 80px;
    .menu-item {
        border: none;
        white-space: normal;
        padding: 0.2em 1em;
        font-size: 1.5em;
        cursor: pointer;
        &.active, &:hover {
            color: @color-4;
        }
    }
    .menu-heading, .menu-item {
        text-align: center;
    }
    .menu-list {
        color: @color-3;
    }
}
#main {
    .flex(1);
    height: 100%;
    overflow-y: auto;
}
/* tree */
.right-limit-len(@width) {
    width: @width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}
.tree-wrapper {
    &.table thead {
        background-color: white;
        border-bottom: 1px solid #ccc;
        color: grey;
    }
    thead th {
        &:nth-last-child(1) {
            .right-limit-len(60px);
        }
        &:nth-last-child(2) {
            .right-limit-len(90px);
        }
    }
    tbody tr.tree-node {
        td:nth-last-child(1) {
            .right-limit-len(60px);
        }
        td:nth-last-child(2) {
            .right-limit-len(90px);
        }
    }
}

#ls {
    padding: 8px;
}

#file-search {
    .search-form {
        padding: 5px 0;
        /*position: fixed;*/
        width: 100%;
    }
}

#search-query {
    text-align: center;
    /*display: block;*/
    width: 100%;
    padding: 2px 12px;
    font-size: 24px;
    margin: 5px 0;
    color: #555;
    background-color: #fefefe;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    .box-sizing(border-box);
    .placeholder(#ccc);
}
#search-result {
    .result {
        display: table;
        min-width: 100%;
    }
    .search-result {
        display: table-row;
        padding: 0 3px;
        line-height: 30px;
        overflow: hidden;
        width: 200%;
        vertical-align: bottom;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:nth-of-type(even) {
            background-color: #fefefe;
        }
        &:nth-of-type(odd) {
            background-color: @color-3;
        }
        header {
            .fa {
                color: grey;
                margin: 0 3px;
            }
            .fa-folder {
                color: @color-4;
            }
            a {
                text-decoration: none;
                color: @color-5;
            }
        }
        section.body {
            padding: 0 0 0 16px;
            height: auto;
            .line {
                color: grey;
                margin: 0 5px;
                line-height: 16px;
                font-size: 11px;
            }
            .line-number {
                color: grey;
                margin-right: 5px;
            }
            .highlight {
                padding: 0 2px;
                border: 1px solid @color-4;
                border-radius: 2px;
                background-color: @color-2;
                color: white;
                font-weight: bold;
            }
        }
    }
    section.body {
        height: 575px;
        overflow-y: auto;
        overflow-x: auto;
    }
    .loading-spinner, .no-result {
        margin-top: 40px;
        color: @color-1;
    }
}
#submit-search {
    /*position: absolute;*/
    cursor: pointer;
    color: @color-3;
    margin-left: -32px;
    /*top: 40px;*/
    /*right: 12px;*/
    font-size: 24px;
    &:hover {
        color: @color-1;
    }
}

