@import './markdown.less';

body {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    margin: 0;
    /*overflow-x: hidden;*/
    &.non-select {
        cursor: ew-resize;
    }
}
.markdown-container {
    position: relative;
    display: inline-block;
    width: 900px;
    text-align: left;
    overflow: hidden;
    .markdown-header {
        background-color: #f5f5f5;
        color: grey;
        padding: 5px;
        .title {
            max-width: 50%;
        }
        &:hover {
            color: inherit;;
        }
        .btn {
            margin-right: 10px;
            cursor: pointer;
        }
    }
    .markdown-body {
        padding: 16px;
    }
    border: 1px solid #eee;
    border-radius: 3px;
}

