
@import './variables.less';
@import './mixin.less';

@min-width: 500px;

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    min-width: @min-width;
    overflow-x: hidden;
    &.non-select {
        cursor: ew-resize;
    }
    overflow: hidden;
}
.markdown-summary {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eee;
    .display(flex);
    .flex-direction(column);
}
.markdown-container {
    .box-shadow(0 0 10px #aaa);
    border-left: 1px solid #ccc;
    position: absolute;
    left: 240px;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    background-color: white;
    display: inline-block;
    text-align: left;
    border: 1px solid #eee;
    .markdown-body {
        padding: 16px;
    }
}
.markdown-menu {
    width: 100%;
    z-index: 99;
    .menu {
        text-align: left;
        li {
            &:hover {
                background-color: transparent;
            }
        }
    }
    .menu-heading {
        max-width: 90%;
    }
    .menu-heading:hover {
    }
    .menu-list {
        margin-top: .5px;
    }
    .menu-item {
        cursor: pointer;
        &:hover {
            background-color: transparent;
        }
    }
    .menu-link {
        &:hover {
            color: black;
            background-color: transparent;
        }
    }
    .menu-link:hover {
    }
}
.tips-dialog {
    .modal-body {
        text-align: left;
        h1, h2 {
            text-align: center;
        }
        padding: 5px;
    }
}

#toc {
    /*overflow: hidden;*/
    .flex(1);
    height: 100%;
    border-left: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
    header {
        font-weight: bold;
        padding: 5px;
        border-bottom: 1px solid #cbcbcb;
    }
    table {
        text-align: left;
        border: none;
    }
    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }
    .tree-holder {
        .tree-wrapper {
            color: #666;
        }
        max-height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
.markdown-body .toc-anchor {
    display: none;
}
table.tree-wrapper tbody tr.tree-node {
    background-color: transparent;
    &:hover {
        background-color: white;
    }
    &.selected {
        background-color: #2980b9;
        color: #ecf0f1;
        &:hover {
            background-color: #2980b9;
        }
    }
}
@media print {
    #toc, nav.markdown-menu {
        display: none;
    }
    .markdown-container {
        left: 0;
        bottom: auto;
        overflow-y: auto;
    }
}

@import './markdown.less';

