body {
  width: 100%;
  min-width: 400px;
  text-align: center;
  margin: 0;
  /*overflow-x: hidden;*/
  background-color: #666;
}
body.non-select {
  cursor: ew-resize;
}
.markdown-container {
  background-color: white;
  margin: 35px 0;
  position: relative;
  display: inline-block;
  width: 800px;
  text-align: left;
  overflow: hidden;
  border: 1px solid #eee;
  /*.box-shadow(0 0 4px #aaa);*/
}
.markdown-container .markdown-body {
  padding: 16px;
}
.markdown-menu {
  position: fixed;
  width: 100%;
  z-index: 99;
  min-width: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.markdown-menu .menu {
  text-align: left;
  /* fixing floating problem */
  /*border-bottom: 1px solid #eee;*/
  /*background-color: #eee;*/
}
.markdown-menu .menu-heading {
  color: #ccc;
  max-width: 50%;
  text-shadow: rgba(0, 0, 0, 0.8) 0px 1px 0px;
}
.markdown-menu .menu-heading:hover {
  color: white;
}
.markdown-menu .menu-list {
  margin-top: .5px;
}
.markdown-menu .menu-item {
  cursor: pointer;
}
.markdown-menu .menu-link {
  color: #ccc;
  transparent: 1;
}
.markdown-menu .menu-link:hover {
  color: black;
}
.tips-dialog .modal-body {
  text-align: left;
  padding: 5px;
}
.tips-dialog .modal-body h1,
.tips-dialog .modal-body h2 {
  text-align: center;
}
.flowchart-graph,
.mermaid,
.katex-display {
  text-align: center;
  max-width: 104.5%;
}
.mermaid {
  width: auto;
}
.flowchart-graph svg {
  width: 100%;
}
img {
  margin: 0 auto;
  display: block;
}
.markdown-body table {
  display: table;
  margin: 0 auto 16px;
}
