.flex-container {
    display: flex;
    display: -webkit-flex;
}
.flex-col-left {
    width: 50%;
    border-right: grey 1px dashed;
}

.flex-col-right {
    flex: 1;
    width: 50%;
    overflow-y: auto;
}
