@keyframes kf-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.loading-spinner {
    display: table;
    text-align: center;
    font-size: 36px;
    width: 100%;
    height: 100%;
    .fa-spinner {
        display: table-cell;
        vertical-align: middle;
        animation: kf-spin 2s infinite linear;
    }
}
