
.flowchart-graph, .mermaid, .katex-display {
    text-align: center;
    max-width: 104.5%;
    svg {
    }
}
.flowchart-graph {
    svg {
        width: 100%;
    }
}

img {
    margin: 0 auto;
    display: block;
}

