@import "../variables";
@import "../helper";

bread-crumbs {
  .item {
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
  }
  .url {
    color: @minor-color;
    cursor: pointer;
    max-width: 6em;
    .limit-length();
    &:hover {
      color: @highlight-color;
      max-width: 100%;
    }
  }
  .separator {
    //display: inline-block;
    svg {
      height: .9em;
      width: .9em;
      &:hover {
        fill: @minor-color;
      }
    }
  }
}
