@import "../variables";

bread-crumbs {
  ul {
    display: inline-block;
    list-style-type: none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0em;
    -webkit-margin-end: 0em;
    -webkit-padding-start: 0em;
  }
  li {
    display: inline-block;
  }
  a {
    text-decoration: none;
  }
  .url {
    cursor: pointer;
    color: @minor-color;
    margin: .1em;
    &:hover {
      color: @highlight-color;
    }
  }
  .separator {
    display: inline-block;
    svg {
      height: .9em;
      width: .9em;
      &:hover {
        fill: @minor-color;
      }
    }
  }
}
