.content {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin: 30px auto;
    max-width: 980px;
    padding: 45px;
    word-wrap: break-word;
}
.content figure, .content .mermaid, .content .flowchart-graph {
    text-align: center;
}
.content.markdown-body table {
    margin: 0 auto 16px;
    display: table;
    width: auto;
}
