.markdown-body {
  p img {
    max-width: 45%;
  }
  .viz-graph, figure {
    text-align: center;
  }
  .viz-graph {
    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }
  overflow-x: hidden;
}
