@import "../../common/variables";

path-item {
  display: block;
  padding: .3em .5em;
  border-bottom: 1px solid @border-color;
  &:hover {
    background-color: @highlight-background-color;
  }
  .icon {
    svg, img {
      width: 32px;
      height: 32px;
    }
  }
  .icon, .content, .more {
    display: inline-block;
  }
}

#paths {
  &.detail {
  }
  &.card {
  }
  &.tile {
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 480px) {
}
